<div id="calculatrice">
  <div id="screen">
    <div *ngFor="let number of numbers">
      <p>{{ number }}</p>
    </div>
    <input [value]="temporaryNumber" />
  </div>
  <div id="tools">
    <app-button [text]="'1'" (newItemEvent)="addNumber($event)"></app-button>
    <app-button [text]="'2'" (newItemEvent)="addNumber($event)"></app-button>
    <app-button [text]="'3'" (newItemEvent)="addNumber($event)"></app-button>
    <app-button [text]="'4'" (newItemEvent)="addNumber($event)"></app-button>

    <app-button [text]="'5'" (newItemEvent)="addNumber($event)"></app-button>
    <app-button [text]="'6'" (newItemEvent)="addNumber($event)"></app-button>
    <app-button [text]="'7'" (newItemEvent)="addNumber($event)"></app-button>
    <app-button [text]="'8'" (newItemEvent)="addNumber($event)"></app-button>

    <app-button [text]="'9'" (newItemEvent)="addNumber($event)"></app-button>
    <app-button [text]="'0'" (newItemEvent)="addNumber($event)"></app-button>
    <app-button [text]="'enter'" (newItemEvent)="validate($event)"></app-button>
    <app-button [text]="'+'" (newItemEvent)="operation($event)"></app-button>

    <app-button [text]="'-'" (newItemEvent)="operation($event)"></app-button>
    <app-button [text]="'x'" (newItemEvent)="operation($event)"></app-button>
    <app-button [text]="'%'" (newItemEvent)="operation($event)"></app-button>
    <app-button [text]="'c'" (newItemEvent)="reset()"></app-button>

    <app-button [text]="','" (newItemEvent)="comma()"></app-button>
    <app-button [text]="'<-'" (newItemEvent)="deleteOne()"></app-button>
  </div>
</div>
